<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p><%= title %></p>
    <p>To use this service you must pass the parameter "cnpj"</p>
    <p>Ex: https://receitaws-data.herokuapp.com/?cnpj=57165518000100</p>
  </body>
</html>